body {
    background-color: #fbf3f4
}

.header {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 2px solid black;
  text-align: center;
}

/*.functions {
   font-family: Georgia, 'Times New Roman', Times, serif;
   padding: 10px;
} */